/* Global  reset*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 22px;
}


/* Style the header */

.header header {
    background: #f1f1f1;
    padding: 25px;
    text-align: center;
}


/* Style the top navigation bar */

.topmenu {
    overflow: hidden;
    background: #333;
    /*padding: 20px; */
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
}


/* Style the topnav links */

.topmenu ul {
    display: inline;
    text-align: center;
}

.topmenu ul li {
    float: left;
    display: inline-block;
    margin-right: 50px;
}

.topmenu ul li:last-child {
    margin-right: 0px;
}

.topmenu ul li a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
}


/* Change color on hover */

.topmenu ul li a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the Active link */

.topmenu .active {
    /*margin: 0px; */
    background: red;
}

.topmenu .news {
    float: right;
}


/* Create three equal columns that floats next to each other */


/*.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  border: 1px solid lightblue;
}  */


/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
    border: 1px solid lightblue;
}


/* Left and right column(side bar) */

.column.side {
    width: 25%;
}


/* Middle column(main content) */

.column.middle {
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}


/* Style the footer */

footer .copright {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white
}